.indicador figure{

	animation-duration: 2s ;
	animation-name: flecha;
animation-iteration-count: infinite;

}
@keyframes flecha{
	from {
		opacity: 0.3;
		top: 0px;
		
	}



	to{
		opacity: 1.0;
		top: 70px;
		
	}

}


.scroll{
	display: block;

	animation-duration: 1s ;
	animation-name: katharina;
animation-iteration-count: infinite;

}
@keyframes katharina{
	from {
		opacity: 1;
		bottom: 150px;
		
	}
	20%{
		opacity: 0.9;
	}

    65%{
		opacity: 0.9;
	}

	to{
		opacity: 0.3;
		bottom: 120px;

		
		
	}

}
